/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/
 public/imgs/nload.jpeg
        public/imgs/pic_slide_autumn.jpg
        public/imgs/replacejabalakhdar-view.jpg
        public/imgs/sky.jpeg
        public/imgs/southeast_view.jpg
        public/imgs/ste-2.png
        public/imgs/sunset-for-front-room-i.jpg
        public/imgs/terminal.png
        public/imgs/ticket.png
        public/imgs/ticket1.png
