/node_modules
/public/hot
/public/storage
/public/profile/*
/public/imgs/*
/public/companylogo/*
/public/product_picture/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/layouts/app.blade.php
